{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p></p>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <h3><b></b></h3>
    <h3><b>Консультации, которые будут проведены по этой теме</b></h3>
    {% for cons in conses %}
        <div class="consultation">
            <h1><a href="{% url 'consultation_detail' pk=cons.pk %}">{{ cons.theme }}</a></h1>
            <!--django будет искать url post_detail в urls; pk - первичный ключ, который идентефицирует каждый post-->
            <div class="date">
                <b>Дата проведения:</b> {{ cons.date }}
            </div>
            <p>
            <div class="text">
                {{ cons.description }}
            </div>
            <div><b>Целевая аудитория: </b> {{ cons.spectators }}</div>
            <div><b> Продолжительность: </b> {{ cons.duration }}</div>
            <b>Создатель:</b> <a href="{% url 'profile' pk=cons.pk %}">{{ cons.owner.username }}</a>
            <p><a href="{% url 'new_member' pk=cons.pk %}">Записаться</a>
            <hr>
        </div>
    {% endfor %}
{% endblock %}