{% extends 'blog/base.html' %}

{% block content %}
    <div class="consultation">
        <h3>Имя пользователя: {{ consultation.owner.username }}</h3>
        <p><b>Почта: {{ consultation.owner.email }}</b>
        <p><b>Класс, в котором обучается: {{ consultation.owner.form }}</b>
        <p><b>Имя: {{ consultation.owner.first_name }}</b>
        <p><b>Фамилия: {{ consultation.owner.last_name }}</b>
    </div>
{% endblock %}
<!-- <h3><a href="{% url 'grade' pk=consultation.owner.pk %}">Понравился пользователь</a></h3> -->