{% extends 'blog/base.html' %}

{% block content %}
    <h1>Edit</h1>
    <form method="POST" class="user-form">{% csrf_token %}
        Время и дата проведения консультации
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Push</button>
    </form>
{% endblock %}

<!-- {{ form.username }}
        Тема консультации
        {{ form.email }}
        Раскрытие темы, подроюбное описание
        {{ form.first_name }}
        Целевая аудитория
        {{ form.last_name }}
        Продолжительность консультации в формате HH:MM
        {{ form.form }}
        {{ form.password1 }}
        {{ form.password2 }} -->