<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html'%}
{% block content %}
<form action="" class="address-form form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <div class="form-group required">
            <div class="col-sm-4">
                <label for="id_name">Имя:</label>
            </div>
            <div class="col-sm-8">
                <input id="id_name" maxlength="300" name="name" type="text" required="">
            </div>
        </div>
        <div class="form-group required">
            <div class="col-sm-4">
                <label for="id_email">Email:</label>
            </div>
            <div class="col-sm-8">
                <input id="id_email" maxlength="300" name="email" type="text" required="">
            </div>
        </div>
        <div class="form-group required">
            <div class="col-sm-4">
                <label for="id_rating">Рейтинг:</label>
            </div>
            <div class="col-sm-8">
                <div class="stars">
                    <input class="star star-5" id="star-5" type="radio" name="rating" value="5"/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="rating" value="4"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="rating" value="3"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="rating" value="2"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="rating" value="1"/>
                    <label class="star star-1" for="star-1"></label>
                </div>
            </div>
        </div>
        <div class="form-group required">
            <div class="col-sm-4">
                <label for="id_body">Описание:</label>
            </div>
            <div class="col-sm-8">
                <textarea cols="40" id="id_body" name="body" rows="10" required=""></textarea>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Добавить">
    </fieldset>
</form>
{%endblock%}
</body>
</html>