{% block content %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Регистрация</title>
<head>
   <link rel="stylesheet" href="1stdesign.css" />
   <link 
      href="https://fonts.googleapis.com/css?family=Domine&display=swap" 
      rel="stylesheet" />
   <style>
      .title{
         text-decoration: none;
         font-size: 36pt;
      }   
   </style>
</head>
<body>
   <div class= "body">
   <nav>
      <div class="logo">
         <a href='/' class='title'>Cheerduck</a>
      </div>
      <ul class="nav-links">
         <li><a class="nav-link" href="#">Забыли Пароль?</a></li>
         <li><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
         </a></li> 
      </ul>
      <div class="burger">
         <div class="line1"></div>
         <div class="line2"></div>
         <div class="line3"></div>
      </div>
   </nav>
   <main>
      <div class="content">
         <form method="POST" class="user-form">
            {% csrf_token %}
            <html lang="ru">
              <!-- <p><label for="name">Имя</label>
               <input type="text" id="name">{{ field.first_name }}</p>
              <p><label for="surname">Фамилия</label>
               <input type="text" id="surname">{{ field.last_name }}</p>
              <p><label for="username">Имя пользователя</label>
               <input type="text" id="surname">{{ field.clas }}</p>
              <p><label for="email">Ваша почта</label>
               <input type="text" id="surname">{{ field.email }}</p>
              <p><label for="pass">Пароль</label>
               <input type="password" id="pass">{{ field.password }}</p>
              <p><label for="pass">Подтвержения пароля</label>
               <input type="password" id="pass">{{ field.password2 }}</p>   
               <p></p> -->
               {{ form.as_p }}
               <button type="submit" class="saveBtn">Зарегистрироваться</button>
         </form>
   </main>
   </div>
   </body> 
   </html>
   {% endblock %}