<html lang="en"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Регистрация</title>
<head> 
<link rel="stylesheet" href="1stdesign.css" /> 
<link 
href="https://fonts.googleapis.com/css?family=Domine&display=swap" 
rel="stylesheet" 
/> 
<title>Summary</title> 
</head> 
<body> \
<div class= "body">
<nav> 
<div class="logo"> 
<h2>Чердак</h2> 
</div> 
<ul class="nav-links"> 
<li><a class="nav-link" href="#">Забыли Пароль?</a></li> 
<li><a class="nav-link" href="vxod.html">Войти</a></li> 
</a></li> 
</ul> 
<div class="burger"> 
<div class="line1"></div> 
<div class="line2"></div> 
<div class="line3"></div> 
</div> 
</nav> 
<main> 
<div class="content"> 
    <!-- поля -->
</main> 
<script src="/js/app.js"></script> 
</div>
</body> 
</html>